<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Add New About Us
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">About Us</h2>
            </div>
            @model EntityLayer.Concrete.About

            @using (Html.BeginForm("AddAbout", "About", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.Label("About Details 1")
                    @Html.TextBoxFor(x => x.AboutDetails1, new { @class = "form-control" })
                    <br />
                    @Html.Label("About Details 2")
                    @Html.TextBoxFor(x => x.AboutDetails2, new { @class = "form-control" })
                    <br />
                    @Html.Label("About Image 2")
                    @Html.TextBoxFor(x => x.AboutImage1, new { @class = "form-control" })
                    <br />
                    @Html.Label("About Image 2")
                    @Html.TextBoxFor(x => x.AboutImage2, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-info">Add</button>
                </div>
            }

        </div>
    </div>
</div>